/*
Author URI: http://webthemez.com/
Note: Licence under Creative Commons Attribution 3.0  
-------------------------------------------------------*/

@import url('http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:400,600,700');
@import url('font-awesome.css');
@import url('animate.css');
body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6em;
  overflow-x: hidden;
}
a:active {
    outline: 0;
}
.clear {
    clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1em;
    color: #333;
    margin-bottom: 20px;
}
.container {
    padding: 0 20px 0 20px;
    position: relative;
}
#wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}
.row,
.row-fluid {
    margin-bottom: 30px;
}
.row .row,
.row-fluid .row-fluid {
    margin-bottom: 30px;
}
.row.nomargin,
.row-fluid.nomargin {
    margin-bottom: 0;
}
img.img-polaroid {
    margin: 0 0 20px 0;
}
.img-box {
    max-width: 100%;
}
.btn-section {
	padding-top: 20px;
}
.btn-default {
    font-size: 15px;
    margin: 17px 0 10px;
    margin-right: 10px;
    line-height: 20px;
    padding: 10px 24px;
    background: #FF4242;
    transition: all 0.4s;
    color: #FFFFFF;
    border-radius: 0;
    text-decoration: none !important;
}
.bg-img{
position:relative;background: url('../img/slides/1.jpg') 0 -152px no-repeat !important;background-size: cover !important;background: #fff;}
.bg-img:before{
position:absolute;
content:'';
width:100%;
height:100%;background: rgba(0, 0, 0, 0.58);
z-index: 0;
top: 0;}
.bg-img h2, .bg-img span{color: #484848;}
/*  Header
==================================== */

header .navbar {
    margin-bottom: 0;
}
.navbar-default {
    border: none;
}
.navbar-brand {
    color: #222;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -1px;
    margin-top: 20px;
    padding: 0 0 0 15px;
}
.navbar-default .navbar-brand {
    color: #1891EC;
}
header .navbar-collapse ul.navbar-nav {
    float: right;
    margin-right: 0;
}
header .navbar {
    min-height: 70px;
    padding: 18px 0;
    background: #fff;
}
.home-page header .navbar-default {
    background: rgba(0, 50, 142, 0.01);
    /* position: absolute; */
    width: 100%;
    background: #FEFEFE;
}
header .nav li a:hover,
header .nav li a:focus,
header .nav li.active a,
header .nav li.active a:hover,
header .nav li a.dropdown-toggle:hover,
header .nav li a.dropdown-toggle:focus,
header .nav li.active ul.dropdown-menu li a:hover,
header .nav li.active ul.dropdown-menu li.active a {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
header .navbar-default .navbar-nav > .open > a,
header .navbar-default .navbar-nav > .open > a:hover,
header .navbar-default .navbar-nav > .open > a:focus {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
header .navbar {
    min-height: 90px;
    padding: 0;
}
header .navbar-nav > li {
    padding-bottom: 0;
    padding-top: 0;
}
header .navbar-nav > li > a {
    padding-bottom: 6px;
    padding-top: 5px;
    margin-left: 2px;
    line-height: 30px;
    font-weight: 700;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.dropdown-menu li a:hover {
    color: #fff !important;
}
header .nav .caret {
    border-bottom-color: #f5f5f5;
    border-top-color: #f5f5f5;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #fff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #fff;
}
.dropdown-menu {
    box-shadow: none;
    border-radius: 0;
    border: none;
}
.dropdown-menu li:last-child {
    padding-bottom: 0 !important;
    margin-bottom: 0;
}
header .nav li .dropdown-menu {
    padding: 0;
}
header .nav li .dropdown-menu li a {
    line-height: 28px;
    padding: 3px 12px;
}
section.our-services {
    background: #EFEFEF;
    padding: 60px 0;
}
.about-Us
{
	padding:60px 0;
}
.carousel-control i {
    position: absolute;
    top: 50%;
    font-weight: bolder;
    font-size: 25px;
}
/* --- menu --- */

header .navigation {
    float: right;
}
header ul.nav li {
    border: none;
    margin: 0;
}
header ul.nav li a {
    font-size: 12px;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
}
header ul.nav li ul li a {
    font-size: 12px;
    border: none;
    font-weight: 300;
    text-transform: uppercase;
}
.navbar .nav > li > a {
    color: #8C8C8C;
    text-shadow: none;
    border: 1px solid rgba(255, 255, 255, 0) !important;
    padding: 30px 15px 8px;
}
.navbar .nav a:hover {
    background: none;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover {
    background: none;
    font-weight: 700;
    background: #FF4242;
    color: #fff;
}
.navbar .nav > .active > a:active,
.navbar .nav > .active > a:focus {
    background: none;
    outline: 0;
    font-weight: 700;
}
.navbar .nav li .dropdown-menu {
    z-index: 2000;
}
header ul.nav li ul {
    margin-top: 1px;
}
header ul.nav li ul li ul {
    margin: 1px 0 0 1px;
}
.dropdown-menu .dropdown i {
    position: absolute;
    right: 0;
    margin-top: 3px;
    padding-left: 20px;
}
.navbar .nav > li > .dropdown-menu:before {
    display: inline-block;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-bottom-color: none;
    content: none;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #FF4242;
    background-color: transparent;
}
ul.nav li.dropdown a {
    z-index: 1000;
    display: block;
}
.navbar .nav > li.active a:before {
  content: '';
  position: absolute;
  /* height: 44px; */
  width: 86%;
  background: rgb(234, 45, 45);
  z-index: -1;
  /* bottom: -6px; */
  /* right: -6px; */
}
select.selectmenu {
    display: none;
}
.pageTitle {
    color: #fff;
    margin: 30px 0 3px;
    display: inline-block;
}
#banner {
    width: 100%;
    background: #000;
    position: relative;
    margin: 0;
    padding: 0;
}
/*  Sliders
==================================== */
/* --- flexslider --- */

#main-slider:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.53);
    z-index: 1;
    position: absolute;
}
.flex-direction-nav a {
    display: none;
}
.flexslider {
    padding: 0;
    background: #fff;
    position: relative;
    zoom: 1;
}
.flex-direction-nav .flex-prev {
    left: 0px;
}
.flex-direction-nav .flex-next {
    right: 0px;
}
.flex-caption {
    zoom: 1;
    bottom: 198px;
    background-color: transparent;
    color: #fff;
    margin: 0;
    padding: 25px 25px 25px 30px;
    position: absolute;
    left: 0;
    text-align: center;
    margin: 0 auto;
    right: 0px;
    display: inline-block;
    bottom: 21%;
}
.flex-caption h3 {
    color: #FFFFFF;
    letter-spacing: 1px;
    margin-bottom: 8px;
    text-transform: capitalize;
    font-size: 80px;
}
.flex-caption p {
    margin: 12px 0 18px;
    font-size: 22px;
}
.skill-home {
    margin-bottom: 50px;
}
.c1 {
    border: #ed5441 1px solid;
    background: #ed5441;
}
.c2 {
    border: #24c4db 1px solid;
    background: #24c4db;
}
.c3 {
    border: #1891EC 1px solid;
    background: #1891EC;
}
.c4 {
    border: #609cec 1px solid;
    background: #609cec;
}
.skill-home .icons {
    padding: 30px 0 0 0;
    width: 94px;
    height: 94px;
    color: #fff;
    font-size: 42px;
    font-size: 38px;
    text-align: center;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 0;
    display: inline-table;
    border: 1px solid #FFFFFF;
    background: transparent;
    color: #ff4242;
    border: 1px solid #FF4242;
    font-style: normal !important;
    border-radius: 50%;
}
.skill-home h2 {
    padding-top: 20px;
    font-size: 36px;
    font-weight: 700;
}
.testimonial-solid {
    padding: 80px 0 80px 0;
    margin: 0 0 0 0;
    background: rgba(0, 0, 0, 0.67);
    text-align: center;
}
.testi-icon-area {
    text-align: center;
    position: absolute;
    top: -84px;
    margin: 0 auto;
    width: 100%;
}
.testi-icon-area .quote {
    padding: 15px 0 0 0;
    margin: 0 0 0 0;
    background: #ffffff;
    text-align: center;
    color: #1891EC;
    display: inline-table;
    width: 70px;
    height: 70px;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 42px;
    border: 1px solid #1891EC;
    display: none;
}
.testi-icon-area .carousel-inner {
    margin: 20px 0;
}
.carousel-indicators {
    bottom: -30px;
}
.text-center img {
    margin: auto;
    width: 100%;
}
.aboutUs {
    padding: 40px 0;
    background: #F2F2F2;
}
img.img-center {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}
/* Testimonial
----------------------------------*/

.testimonial-area {
    padding: 0 0 0 0;
    margin: 0;
    background: url('../img/slides/1.jpg') 0 -371px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
}
.testimonial-solid p {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 30px;
    font-style: italic;
}
section.hero-text {
    background: #FEFEFE;
    padding: 50px 0 50px 0;
    color: #313334;
    border-top: 4px solid #FF4242;
}
section.hero-text h2 {
    color: #FF4242;
}
/* Clients
------------------------------------ */

#clients {
    padding: 0;
}
#clients .client .img {
    height: 76px;
    width: 138px;
    cursor: pointer;
    -webkit-transition: box-shadow .1s linear;
    -moz-transition: box-shadow .1s linear;
    transition: box-shadow .1s linear;
}
#clients .client .img:hover {
    cursor: pointer;
    /*box-shadow: 0px 0px 2px 0px rgb(155, 155, 155);*/
    
    border-radius: 8px;
}
#clients .client .client1 {
    background: url("../img/client1.png") 0 -75px;
}
#clients .client .client1:hover {
    background-position: 1px 0px;
}
#clients .client .client2 {
    background: url("../img/client2.png") 0 -75px;
}
#clients .client .client2:hover {
    background-position: -1px 0px;
}
#clients .client .client3 {
    background: url("../img/client3.png") 0 -76px;
}
#clients .client .client3:hover {
    background-position: 0px 0px;
}
/* Content
==================================== */

#content {
    position: relative;
    background: #FFFFFF;
    padding: 50px 0 0px 0;
}
#content img {
    max-width: 100%;
    height: auto;
    display: inline-table;
    border: 1px solid #C8C8C8;
    background: transparent;
    color: #5DA5E4;
    border-bottom: 3px solid #FF4242;
}
.cta-text {
    text-align: center;
    margin-top: 10px;
}
.big-cta .cta {
    margin-top: 10px;
}
.box {
    width: 100%;
}
.box-gray {
    background: #f8f8f8;
    padding: 20px 20px 30px;
}
.box-gray h4,
.box-gray i {
    margin-bottom: 20px;
}
.box-bottom {
    padding: 20px 0;
    text-align: center;
}
.box-bottom a {
    color: #fff;
    font-weight: 700;
}
.box-bottom a:hover {
    color: #eee;
    text-decoration: none;
}
/* Bottom
==================================== */

#bottom {
    background: #fcfcfc;
    padding: 50px 0 0;
}
/* twitter */

#twitter-wrapper {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
#twitter em {
    font-style: normal;
    font-size: 13px;
}
#twitter em.twitterTime a {
    font-weight: 600;
}
#twitter ul {
    padding: 0;
    list-style: none;
}
#twitter ul li {
    font-size: 20px;
    line-height: 1.6em;
    font-weight: 300;
    margin-bottom: 20px;
    position: relative;
    word-break: break-word;
}
/* page headline
==================================== */

#inner-headline {
    position: relative;
    margin: 0;
    padding: 0;
    color: #1891EC;
}
#inner-headline h2.pageTitle {
    color: #FFFFFF;
    padding: 60px 0;
    display: block;
    text-align: center;
    font-size: 38px;
}
/* --- breadcrumbs --- */

#inner-headline ul.breadcrumb {
    margin: 40px 0;
    float: left;
}
#inner-headline ul.breadcrumb li {
    margin-bottom: 0;
    padding-bottom: 0;
}
#inner-headline ul.breadcrumb li {
    font-size: 13px;
    color: #fff;
}
#inner-headline ul.breadcrumb li i {
    color: #dedede;
}
#inner-headline ul.breadcrumb li a {
    color: #fff;
}
ul.breadcrumb li a:hover {
    text-decoration: none;
}
 

/*-------Contact---------*/
.contact input{
  background: #fff;
  border: solid 1px #ddd;
  color: #000;
  padding: 15px 30px;
  margin-right: 3%;
  margin-bottom: 30px;
  outline: none;
}

.contact.noMarr input{
  margin-right: 0px;
}

.contact textarea{
  background: #fff;
  color: #000;
  border: solid 1px #ddd;
  padding: 15px 30px;
  margin-bottom: 40px;
  outline: none;
  height: 150px;
} 
.contact .submit {
  background: #5DA5E4; 
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 0px;
  border: none !important;
  border-radius: 0;
  float: left; 
}
.contact .submit:hover {
  background: #6FB4F0;
}

.done {
  display: none;
}

.error input,input.error,.error textarea,textarea.error {
  background-color: #ffffff;
  border: 1px solid red !Important;
  -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
  -o-transition: border linear 0.2s,box-shadow linear 0.2s;
  transition: border linear 0.2s,box-shadow linear 0.2s;
}

/* --- search form --- */

.search {
    float: right;
    margin: 35px 0 0;
    padding-bottom: 0;
}
#inner-headline form.input-append {
    margin: 0;
    padding: 0;
}
/*  Portfolio
================================ */

.work-nav #filters {
    margin: 0;
    padding: 0;
    list-style: none;
}
.work-nav #filters li {
    margin: 0 10px 30px 0;
    padding: 0;
    float: left;
}
.work-nav #filters li a {
    color: #7F8289;
    font-size: 16px;
    display: block;
}
.work-nav #filters li a:hover {} .work-nav #filters li a.selected {
    color: #DE5E60;
}
#thumbs {
    margin: 0;
    padding: 0;
}
#thumbs li {
    list-style-type: none;
}
.item-thumbs {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    cursor: pointer;
}
.item-thumbs a + img {
    width: 100%;
}
.item-thumbs .hover-wrap {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 450ms ease-out 0s;
    -moz-transition: all 450ms ease-out 0s;
    -o-transition: all 450ms ease-out 0s;
    transition: all 450ms ease-out 0s; 
    overflow: hidden;
	-webkit-transform: scale(0);
  transform: scale(0);
}
.item-thumbs:hover .hover-wrap,
.item-thumbs.active .hover-wrap {
    opacity: 1;
    filter: alpha(opacity=100); 
	-webkit-transform: scale(1);
  transform: scale(1);
}
.item-thumbs .hover-wrap .overlay-img {
    position: absolute;
    width: 90%;
    height: 100%;
    opacity: 0.80;
    filter: alpha(opacity=80);
    background: #FF4242;
    overflow: hidden;
    border-bottom: 3px solid #DC2F2F;
}
.item-thumbs .hover-wrap .overlay-img-thumb {
    position: absolute;
    border-radius: 60px;
    top: 50%;
    left: 45%;
    margin: -16px 0 0 -16px;
    color: #fff;
    font-size: 32px;
    line-height: 1em;
    opacity: 1;
    filter: alpha(opacity=100);
}
.fancybox-title-inside-wrap {
  padding: 3px 30px 6px;
  background: #1E1E1F;
}
ul.portfolio-categ {
    margin: 10px 0 30px 0;
    padding: 0;
    float: left;
    list-style: none;
}
ul.portfolio-categ li {
    margin: 0;
    float: left;
    list-style: none;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #D5D5D5;
    margin-right: 15px;
    margin-bottom: 8px;
}
ul.portfolio-categ li a {
    display: block;
    padding: 8px 20px;
    color: #353535;
}
ul.portfolio-categ li.active {
    border: 1px solid #FF4242;
    color: #fff;
    background: #FF4242;
}
ul.portfolio-categ li.active a:hover,
ul.portfolio-categ li a:hover,
ul.portfolio-categ li a:focus,
ul.portfolio-categ li a:active {
    text-decoration: none;
    outline: 0;
}
#accordion-alt3 .panel-heading h4 {
    font-size: 13px;
    line-height: 28px;
}
.panel .panel-heading h4 {
    font-weight: 400;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 2px;
}
.panel {
    margin-bottom: 18px;
    background-color: #F4F4F4;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#accordion-alt3 .panel-heading h4 a i {
    font-size: 17px;
    line-height: 18px;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    color: #5DA5E4;
    text-align: center;
    border-radius: 50%;
    margin-left: 6px;
    font-weight: bold;
}
.progress.pb-sm {
    height: 6px!important;
}
.progress {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .1);
}
.progress {
    overflow: hidden;
    height: 18px;
    margin-bottom: 18px;
    background-color: #f5f5f5;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress .progress-bar.progress-bar-red {
    background: #ed5441;
}
.progress .progress-bar.progress-bar-green {
    background: #51d466;
}
.progress .progress-bar.progress-bar-lblue {
    background: #32c8de;
}
/* --- portfolio detail --- */

.top-wrapper {
    margin-bottom: 20px;
}
.info-blocks {
    margin-bottom: 15px;
}
.info-blocks i.icon-info-blocks {
    float: left;
    color: #5DA5E4;
    font-size: 30px;
    min-width: 50px;
    margin-top: 10px;
    text-align: center;
}
.info-blocks .info-blocks-in {
    padding: 0 10px;
    overflow: hidden;
}
.info-blocks .info-blocks-in h3 {
    color: #555;
    font-size: 20px;
    line-height: 28px;
    margin: 0px;
}
.info-blocks .info-blocks-in p {
    font-size: 12px;
}
blockquote {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    padding-left: 0;
    color: #a2a2a2;
    line-height: 1.6em;
    border: none;
}
blockquote cite {
    display: block;
    font-size: 12px;
    color: #666;
    margin-top: 10px;
}
blockquote cite:before {
    content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
    color: #555;
}
/* --- pullquotes --- */

.pullquote-left {
    display: block;
    color: #a2a2a2;
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    line-height: 1.6em;
    padding-left: 20px;
}
.pullquote-right {
    display: block;
    color: #a2a2a2;
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    line-height: 1.6em;
    padding-right: 20px;
}
/* --- button --- */

.btn {
    text-align: center;
    background: #1891EC;
    color: #fff;
    border-radius: 0px;
    padding: 12px 18px;
    border: 0px;
}
.btn-theme {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    padding: 12px 30px;
    font-weight: bold;
}
.btn-theme:hover {
    color: #eee;
}
/* --- list style --- */

ul.general {
    list-style: none;
    margin-left: 0;
}
ul.link-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.link-list li {
    margin: 0;
    padding: 2px 0 2px 0;
    list-style: none;
}
footer {
    background: #171717;
}
footer ul.link-list li a {
    color: #969696;
}
footer ul.link-list li a:hover {
    color: #eee;
}
/* --- Heading style --- */

h4.heading {
    font-weight: 700;
}
.heading {
    margin-bottom: 30px;
}
.heading {
    position: relative;
}
.widgetheading {
    width: 100%;
    padding: 0;
}
#bottom .widgetheading {
    position: relative;
    border-bottom: #e6e6e6 1px solid;
    padding-bottom: 9px;
}
aside .widgetheading {
    position: relative;
    border-bottom: #e9e9e9 1px solid;
    padding-bottom: 9px;
}
footer .widgetheading {
    position: relative;
}
footer .widget .social-network {
    position: relative;
}
.team-member h4 {
    text-align: center;
    margin-bottom: 5px;
}
.team-member .deg {
    text-align: center;
    display: block;
}
#bottom .widget .widgetheading span,
aside .widget .widgetheading span,
footer .widget .widgetheading span {
    position: absolute;
    width: 60px;
    height: 1px;
    bottom: -1px;
    right: 0;
}
.box-area {
    padding: 0 0;
    padding-top: 16px;
    background: #FFFFFF;
    padding: 44px 26px 20px;
    /* margin-top: -29px; */
    text-align: center;
}
/* --- Map --- */

.map {
    position: relative;
    margin-top: -50px;
    margin-bottom: 40px;
}
.map iframe {
    width: 100%;
    height: 450px;
    border: none;
}
.map-grid iframe {
    width: 100%;
    height: 350px;
    border: none;
    margin: 0 0 -5px 0;
    padding: 0;
}
ul.team-detail {
    margin: -10px 0 0 0;
    padding: 0;
    list-style: none;
}
ul.team-detail li {
    border-bottom: 1px dotted #e9e9e9;
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
    list-style: none;
}
ul.team-detail li label {
    font-size: 13px;
}
ul.team-detail li h4,
ul.team-detail li label {
    margin-bottom: 0;
}
ul.team-detail li ul.social-network {
    border: none;
    margin: 0;
    padding: 0;
}
ul.team-detail li ul.social-network li {
    border: none;
    margin: 0;
}
ul.team-detail li ul.social-network li i {
    margin: 0;
}
.pricing-title {
    background: #fff;
    text-align: center;
    padding: 10px 0 10px 0;
}
.pricing-title h3 {
    font-weight: 600;
    margin-bottom: 0;
}
.pricing-offer {
    background: #fcfcfc;
    text-align: center;
    padding: 40px 0 40px 0;
    font-size: 18px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.pricing-box.activeItem .pricing-offer {
    color: #fff;
}
.pricing-offer strong {
    font-size: 78px;
    line-height: 89px;
}
.pricing-offer sup {
    font-size: 28px;
}
.pricing-container {
    background: #fff;
    text-align: center;
    font-size: 14px;
}
.pricing-container strong {
    color: #353535;
}
.pricing-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.pricing-container ul li {
    list-style: none;
    padding: 15px 0 15px 0;
    margin: 0 0 0 0;
    color: #222;
}
.pricing-action {
    margin: 0;
    background: #FFFFFF;
    text-align: center;
    padding: 20px 0 30px 0;
}
.pricing-wrapp {
    margin: 0 auto;
    width: 100%;
    background: #fd0000;
}
.pricing-box-item {
    border: 1px solid #e6e6e6;
    background: #FFFFFF;
    position: relative;
    margin: 0 0 20px 0;
    padding: 0;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.03);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
    overflow: hidden;
}
.pricing-box-item .pricing-heading {
    background: #fcfcfc;
    text-align: center;
    padding: 0px 0 0px 0;
    display: block;
}
.pricing-box-item.activeItem .pricing-heading {
    background: #FFFFFF;
    text-align: center;
    padding: 0px 0 1px 0;
    border-bottom: none;
    display: block;
    color: #fff;
}
.pricing-box-item.activeItem .pricing-heading h3 {} .pricing-box-item .pricing-heading h3 strong {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -1px;
}
.pricing-box-item .pricing-heading h3 {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -1px;
    color: #FF4242;
    background: #fff;
}
.pricing-box-item .pricing-terms {
    text-align: center;
    background: #FFFFFF;
    display: block;
    overflow: hidden;
    padding: 25px 0 11px;
    color: #FF4242;
}
.pricing-box-item .pricing-terms h6 {
    font-style: italic;
    margin-top: 10px;
    color: #383838;
    font-size: 17px;
    font-family: 'Noto Serif', serif;
}
.pricing-box-item .icon .price-circled {
    margin: 10px 10px 10px 0;
    display: inline-block !important;
    text-align: center !important;
    color: #fff;
    width: 68px;
    height: 68px;
    padding: 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: 68px;
    text-shadow: none;
    cursor: pointer;
    background-color: #888;
    border-radius: 64px;
    -moz-border-radius: 64px;
    -webkit-border-radius: 64px;
}
.pricing-box-item .pricing-action {
    margin: 0;
    text-align: center;
    padding: 30px 0 30px 0;
}
/* ===== Widgets ===== */
/* --- flickr --- */

.widget .flickr_badge {
    width: 100%;
}
.widget .flickr_badge img {
    margin: 0 9px 20px 0;
}
footer .widget .flickr_badge {
    width: 100%;
}
footer .widget .flickr_badge img {
    margin: 0 9px 20px 0;
}
.flickr_badge img {
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 9px 20px 0;
}
/* --- Recent post widget --- */

.recent-post {
    margin: 20px 0 0 0;
    padding: 0;
    line-height: 18px;
}
.recent-post h5 a:hover {
    text-decoration: none;
}
.recent-post .text h5 a {
    color: #353535;
}
footer {
    padding: 50px 0 0 0;
    color: #969696;
}
footer a {
    color: #fff;
}
footer a:hover {
    color: #eee;
}
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
    color: #fff;
}
footer address {
    line-height: 1.6em;
}
footer h5 a:hover,
footer a:hover {
    text-decoration: none;
}
ul.social-network {
    list-style: none;
    margin: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
    border: 1px solid #262A45;
    padding: 5px 0 0;
    width: 32px;
    display: inline-block;
    text-align: center;
    height: 32px;
    vertical-align: baseline;
}
#sub-footer {
    text-shadow: none;
    color: #f5f5f5;
    padding: 0;
    padding-top: 30px;
    margin: 20px 0 0 0;
    background: #171717;
}
#sub-footer p {
    margin: 0;
    padding: 0;
}
#sub-footer span {
    color: #f5f5f5;
}
.copyright {
    text-align: left;
    font-size: 12px;
}
#sub-footer ul.social-network {
    float: right;
}
/* scroll to top */

.scrollup {
    position: fixed;
    width: 32px;
    height: 32px;
    bottom: 0px;
    right: 20px;
    background: #000000;
}
a.scrollup {
    outline: 0;
    text-align: center;
}
a.scrollup:hover,
a.scrollup:active,
a.scrollup:focus {
    opacity: 1;
    text-decoration: none;
}
a.scrollup i {
    margin-top: 10px;
    color: #fff;
}
a.scrollup i:hover {
    text-decoration: none;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.aligncenter {
    /* text-align: center; */
}
.aligncenter span {
    margin-left: 0;
}
.floatright {
    float: right;
}
.floatleft {
    float: left;
}
.floatnone {
    float: none;
}
.aligncenter {
    text-align: center;
}
img.pull-left,
.align-left {
    float: left;
    margin: 0 15px 15px 0;
}
.widget img.pull-left {
    float: left;
    margin: 0 15px 15px 0;
}
img.pull-right,
.align-right {
    float: right;
    margin: 0 0 15px 15px;
}
article img.pull-left,
article .align-left {
    float: left;
    margin: 5px 15px 15px 0;
}
article img.pull-right,
article .align-right {
    float: right;
    margin: 5px 0 15px 15px;
}
============================ */ .clear-marginbot {
    margin-bottom: 0;
}
.marginbot10 {
    margin-bottom: 10px;
}
.marginbot20 {
    margin-bottom: 20px;
}
.marginbot30 {
    margin-bottom: 30px;
}
.marginbot40 {
    margin-bottom: 40px;
}
.clear-margintop {
    margin-top: 0;
}
.margintop10 {
    margin-top: 10px;
}
.margintop20 {
    margin-top: 20px;
}
.margintop30 {
    margin-top: 30px;
}
.margintop40 {
    margin-top: 40px;
}
.flex-control-paging li a {
    width: 30px;
    height: 10px;
    border-radius: 0;
}
.btn:hover,
.btn:focus {
    color: #FFF;
    text-decoration: none;
}
/**** LAYOUT ****/
.list-inline>li {
    padding: 0 10px 0 0;
}
.container-pad {
    padding: 30px 15px;
}


/**** MODULE ****/
.bgc-fff {
    background-color: #fff!important;
}
.box-shad {
}
.brdr {
    border: 1px solid #FF4242;
    border-bottom: 4px solid #FF4242;
}

/* Font changes */
.fnt-smaller {
    font-size: .9em;
}
.fnt-lighter {
    color: #bbb;
}

/* Padding - Margins */
.pad-10 {
    padding: 10px 15px !important;
}
.mrg-0 {
    margin: 0!important;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.btm-mrg-20 {
    margin-bottom: 25px!important;
}

/* Color  */
.clr-535353 {
    color: #535353;
}

.carousel li {
    margin-right: 5px;
}
.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #FF4242;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
}
.carousel-indicators .active {
    margin: 0;
    width: 20px;
    height: 12px;
    background-color: #FF4242;
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  z-index: 2;
}
 .flex-control-paging li a {
  width: 30px;
  height: 10px;
  border-radius: 0;
}
.flex-control-paging li a {
  width: 25px;
  height: 11px;
  display: block;
  background: #FFF;
  background: rgba(255, 255, 255, 1); 
}
.flex-control-paging li a.flex-active {
  background: #EA2D2D;
}
.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: rgb(234, 45, 45);
  background-image: none;
  border: 0;
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: rgba(234, 45, 45, 1);
}


/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 180px;
    }
}

/*  Media queries 
============================= */

@media (min-width: 768px) and (max-width: 979px) {
    a.detail {
        background: none;
        width: 100%;
    }
    footer .widget form input#appendedInputButton {
        display: block;
        width: 91%;
        -webkit-border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
    }
    footer .widget form .input-append .btn {
        display: block;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: 10px;
    }
    ul.related-folio li {
        width: 156px;
        margin: 0 20px 0 0;
    }
}
@media (max-width: 767px) {
    .navbar-default .navbar-collapse {
        border-color: none;
    }
    .flex-caption {
        display: none;
    }
    .navbar .nav > li > a {
        text-shadow: none;
        border: 1px solid rgba(255, 255, 255, 0) !important;
        padding: 4px 15px 4px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
        border-radius: 0;
    } 
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: rgba(255, 255, 255, 0.58);
          margin-top: 24px;
    }
    body {
        padding-right: 0;
        padding-left: 0;
    }
    .navbar-brand {
        margin-top: 10px;
        border-bottom: none;
    }
    .navbar-header {
        margin-top: 20px;
        border-bottom: none;
    }
    .navbar-nav {
        border-top: none;
        float: none;
        width: 100%;
    }
    header .navbar-nav > li {
        padding-bottom: 2px;
        padding-top: 3px;
    }
    header .nav li .dropdown-menu {
        margin-top: 0;
    }
    .dropdown-menu {
        position: absolute;
        top: 0;
        left: 40px;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 13px;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #f5f5f5;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 0;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
    li.active {
        border: none;
        overflow: hidden;
        /* background: #961414; */
        color: #fff;
    }
    .box {
        border-bottom: 1px solid #e9e9e9;
        padding-bottom: 20px;
    }
    .flexslider .slide-caption {
        width: 90%;
        padding: 2%;
        position: absolute;
        left: 0;
        bottom: -40px;
    }
    #inner-headline .breadcrumb {
        float: left;
        clear: both;
        width: 100%;
    }
    .breadcrumb > li {
        font-size: 13px;
    }
    ul.portfolio li article a i.icon-48 {
        width: 20px;
        height: 20px;
        font-size: 16px;
        line-height: 20px;
    }
    .left-sidebar {
        border-right: none;
        padding: 0 0 0 0;
        border-bottom: 1px dotted #e6e6e6;
        padding-bottom: 10px;
        margin-bottom: 40px;
    }
    .right-sidebar {
        margin-top: 30px;
        border-left: none;
        padding: 0 0 0 0;
    }
    footer .col-lg-1,
    footer .col-lg-2,
    footer .col-lg-3,
    footer .col-lg-4,
    footer .col-lg-5,
    footer .col-lg-6,
    footer .col-lg-7,
    footer .col-lg-8,
    footer .col-lg-9,
    footer .col-lg-10,
    footer .col-lg-11,
    footer .col-lg-12 {
        margin-bottom: 20px;
    }
    #sub-footer ul.social-network {
        float: left;
    }
    [class*="span"] {
        margin-bottom: 20px;
    }
}
@media (max-width: 480px) {
    .bottom-article a.pull-right {
        float: left;
        margin-top: 20px;
    }
    .search {
        float: left;
    }
    .flexslider .flex-caption {
        display: none;
    }
    .cta-text {
        margin: 0 auto;
        text-align: center;
    }
    ul.portfolio li article a i {
        width: 20px;
        height: 20px;
        font-size: 14px;
    }
}
