/*
 
Motor Template

http://www.templatemo.com/free-website-templates/463-motor

*/

* { font-family: 'Open Sans', sans-serif; }

.blue { color: #3CF; }
.green { color: #6F6; }

/* 

Preloader 
 
https://ihatetomatoes.net/create-custom-preloading-screen/

*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }

/* Universal */
ul {
  margin: 0;
  padding: 0;
}
a:hover, a:focus { text-decoration: none; }
body { 
  background-color: #EAE9EF; 
  overflow-x: hidden;
}
.container { max-width: 990px; }

/* Header */
.templatemo-top-section {
  background: url(../img/welcome-bg.jpg) top center no-repeat;
  background-size: 100% 628px;
  margin-bottom: 30px;
}
.templatemo-header {
  margin: 0 auto;
  max-width: 1132px;
  position: relative;
}
.templatemo-header-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 1132px;
}
.templatemo-site-name,
.templatemo-nav {
 position: relative;
}
.templatemo-site-name {
  color: white;
  font-size: 46px;
  margin: 0;
  padding-top: 25px;
  text-align: center;
  text-transform: uppercase;
}
.templatemo-nav-container {
  margin: 36px auto 0 auto;
  max-width: 650px;
  overflow: hidden;
}
.templatemo-nav li {
  list-style: none;
  float: left;
  text-transform: uppercase;
}
.templatemo-nav li a {
  color: white;
  font-weight: 300;
  padding: 15px 35px;
  width: 124px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}
.templatemo-nav li a:hover,
.templatemo-nav li .active {
  color: #b53636;
  background: url(../img/nav-underline.png) center 80% no-repeat;
}
.mobile-menu-icon { display: none; }

/* Welcome */
.templatemo-welcome {
  color: white;
  margin-top: 150px;
}
.welcome-img { margin-top: 30px; }
.welcome-title-1 {
  color: #b53636;
  font-size: 36px;
}
.welcome-title-2 { font-size: 52px; }
.welcome-title-1,
.welcome-title-2 {
 display: block;
}
.welcome-message { line-height: 1.6em; }
.welcome-read-more {
 color: white;
 font-weight: 700;
 text-transform: uppercase;
}
.welcome-read-more:hover { color: #b53636; }
.tm-overflow-hidden { overflow: hidden; }
.margin-bottom-15 { margin-bottom: 15px; }
.margin-bottom-30 { margin-bottom: 30px; }
.margin-bottom-50 { margin-bottom: 50px; }
.tm-img-1-container {
 cursor: pointer;
 float: left;
 max-width: 240px;
 width: 25%;
 height: auto;
 position: relative;
}
.tm-img-1-container img {
 width: 100%;
 height: auto;
}
.tm-img-1-description {
  background-color: rgba(0,0,0,0.6);
  padding: 15px 20px;
  text-transform: uppercase;
  color: white;
  text-align: right;
  font-size: 18px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.tm-img-1-container:hover .tm-img-1-description { opacity: 1; }

/* Gallery */
.tm-gallery { float: right; }
.tm-gallery-aside { float: left; }
.tm-gallery-nav {
  background-color: black;
  color: white;
}
.tm-gallery-nav-title {
 background-color: #b53636;
 padding: 15px;
 margin: 0;
}
.tm-gallery-nav ul {
 list-style: none;
 padding: 15px;
}
.tm-gallery-nav li a {
 color: white;
 display: block;
 padding: 5px;
}
.tm-gallery-nav li a:hover,
.tm-gallery-nav li.active a {
 color: #b53636;
}
.tm-gallery-nav li a:hover .tm-gallery-list-fa,
.tm-gallery-nav li.active .tm-gallery-list-fa {
  color: #b53636;
}

.tm-gallery-list-img {
  margin-right: 5px;
}
.tm-gallery-list-fa {
  color: transparent;
  float: right;
  margin-top: 3px;
}
.tm-gallery-nav-title {
  position: relative;
}
.tm-gallery-nav-title .fa {
  position: absolute;
  bottom: -10px;
  left: 23px;
  color: black;
}
.tm-call-us {
  background: url(../img/call-us-bg.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 209px;
  color: white;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
.tm-call-us-title,
.tm-call-us-link {
  font-size: 20px;
}
.tm-call-us-link {
  color: #b53636;    
  font-weight: 700;
}

/* Gallery Content */
.tm-gallery-title { 
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 15px;
}
.tm-item-container {
  background-color: white;
  border-radius: 2px;
  display: inline-block;
  padding: 9px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(224,224,224,1);
  box-shadow: 0 2px 5px 0 rgba(224,224,224,1);
  max-width: 220px;
}
.tm-item-description,
.tm-item-price {
  font-weight: 700;
}
.tm-item-action {  
  color: #B4B4B4;
  font-size: 12px;
  font-weight: 700;
  padding-top: 2px;
}
.tm-item-add-icon {
  margin-left: 5px;
}
.tm-item-link:hover .tm-item-action {
  color: #b53636;
}
.tm-item-price-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Banner */
.tm-banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  /*https://css-tricks.com/tinted-images-multiple-backgrounds/*/
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/banner-bg.jpg) no-repeat left top;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/banner-bg.jpg) no-repeat left top;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/banner-bg.jpg) no-repeat left top; 
  background-size: cover; 
  color: white;
}
.tm-banner-title {
  margin: 30px 0 30px 50px;
}
.tm-banner-description {
  margin: 0;
  max-width: 580px;
}
.tm-banner-link {
  background: #b53636;
  color: white;
  font-size: 50px;
  width: 90px;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.tm-banner-link:hover,
.tm-banner-link:focus {
  color: #262626;
}

/* Footer */
footer.tm-footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/footer-bg.jpg) no-repeat left top;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/footer-bg.jpg) no-repeat left top;
  background: linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ), url(../img/footer-bg.jpg) no-repeat left top;
  background-size: cover;
  color: #B4B4B4;
  padding-top: 50px;
}

.tm-footer-div-title {
  color: white;
  font-size: 21px;
  font-weight: 700;
}
.tm-footer-nav {
  font-weight: 700;
  text-transform: uppercase;
}
.tm-footer-nav ul {
  list-style: none;
}
.tm-footer-nav li {
  padding: 15px 0 0 0;
}
.tm-footer-nav li a {
  color: #B4B4B4;
}
.tm-footer-nav li a:hover {
  color: #b53636;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}
.margin-top-15 {
  margin-top: 15px;
}
.copyright-text {
  color: white;
  margin-top: 50px;
}
.copyright-text a {
	color: #FFF;
}
.tm-social-icon {
  background-color: #505050;
  color: white;
  display: inline-block;
  font-size: 20px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  text-align: center;
  padding-top: 6px;
  margin-right: 10px;
  -webkit-box-shadow: 0 0 2px 0 rgba(224,224,224,1);
  box-shadow: 0 0 2px 0 rgba(224,224,224,1);
}
.tm-social-icon:last-child {
  margin-right: 0;
}
.tm-social-icon:hover,
.tm-social-icon:focus {
  background-color: #b53636;
  color: white;
}
.tm-social-icons-container {
  margin-top: 25px;
}
.tm-copyright {
  background: url(../img/copyright-bg.png) no-repeat center bottom;
  background-size: contain;
  height: 96px;
}

/* Gallery page */
.gallery-page .container {
  max-width: 990px;
}
.gallery-page .tm-item-container {
  max-width: 225px;
}
.tm-gallery-item-info {
  margin: 15px 15px 0 15px;
}
.gallery-page .tm-gallery {
  float: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* About page */
.about-slider {
  max-width: 930px;
  overflow: hidden;
}
.about-page .welcome-title {
  margin-top: 0;
}
.about-page .templatemo-welcome,
.contact-page .templatemo-welcome,
.services-page .templatemo-welcome {
  padding-bottom: 100px;
}

/* Flex Slider */
.flexslider {
  position: relative;
  padding: 0 30px;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
ol.flex-control-nav { display: none; }
.slides, .slides > li, 
.flex-control-nav, 
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: FontAwesome;
  font-size: 40px;
  outline: none;
}
.flex-direction-nav a:hover {
  color: #b53636;
}
.flex-direction-nav .flex-next {
  right: 10px;
  text-align: right;
}
.flexslider .flex-direction-nav .flex-prev {
  left: 10px;
}
.flexslider .welcome-title { margin-top: 0; }
.flexslider .welcome-message {
  font-weight: 300;
  text-align: justify;
}
.about-container {
  background: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
.about-container-2 {
  background: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px;
}
.about-container-inner {
  max-width: 414px;
}
.about-container-left,
.about-container-right {
  width: 50%;
  max-width: 460px;
}
.about-container-right {  
  padding: 40px;
}
.about-title {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.about-title-2 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.about-description {
  margin-bottom: 10px;
  text-align: justify;
}
.about-link {
  background: #d54a4a;
  padding: 15px 30px;
  text-transform: uppercase;
  display: inline-block;
  color: white;
  font-size: 20px;
  border-left: 8px solid black;
  margin-top: 5px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.about-link-2 {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: none;
}
.about-link:hover,
.about-link:focus {
  color: #F62F2F;
  background: black;
}

/* Contact page */
#google-map { height: 525px; }
.contact-form-container {
  background-color: white;
  background-image: url(../img/contact-form-bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 40px;
  margin-top: 60px;
}
.contact-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 0;
}
.tm-contact-form {
  margin-top: 40px;
  overflow: hidden;
}
.contact-form-left { padding-left: 0; }
.contact-form-right { padding-right: 0; }
.margin-bottom-0 { margin-bottom: 0; }
.form-control { 
  background-color: #f0f0f0;
  border-radius: 0; 
}
.form-control:focus {
  border-color: #d54a4a;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(213,74,74,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(213,74,74,.6);
}
.templatemo-submit-btn { 
  background: #d54a4a;
  border-radius: 0;
  color: white;
  width: 40%;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.templatemo-submit-btn:hover,
.templatemo-submit-btn:focus {
  background: #972828;
  color: white;  
}
.submit-btn-container {
  padding-left: 0;
  padding-right: 0;
}
.tm-contact-main {
  padding-bottom: 50px;
}

/* Services */
.services-container-1 {
  background-color: white;
  padding: 40px;
  margin-bottom: 60px;
}
.services-title {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
}
.services-block {
  background-color: #f5f5f5;
  padding: 20px;
  margin-right: 15px;
  width: 50%;
}
.services-block:last-child {
  margin-right: 0;
}
.services-blocks-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}
.services-blocks-container:last-child {
  margin-bottom: 0;
}
.services-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.services-title-2 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}
.services-description {
  margin-bottom: 0;
  text-align: justify;
  line-height: 1.6em;
}
.services-icon {
  background: #d54a4a;
  color: white;
  width: 30px;
  height: 28px;
  margin-right: 10px;
  padding-top: 7px;
  text-align: center;
}
.services-container-inner { max-width: 266px; }

@media screen and (max-width: 1199px) {
 .templatemo-header {
   max-width: 992px;
 }
 .templatemo-header-img {
   width: 992px;
 }
 .templatemo-nav-container {
   margin-top: 20px;
   max-width: 560px;
 }
 .templatemo-nav li a {
   padding: 15px 28px;
   width: 106px;
 }
 .templatemo-top-section {
   background-size: 100% 528px;
 }
 .templatemo-welcome {
   margin-top: 85px;
 }
 .welcome-img {
   margin-top: 50px;
 }
}

@media screen and (max-width: 991px) {
 .templatemo-header {
   max-width: 767px;
 }
 .templatemo-header-img {
   width: 767px;
 }
 .templatemo-site-name {
   font-size: 35px;
   padding-top: 18px;
 }
 .templatemo-nav-container {
   font-size: 12px;
   margin-top: 12px;
   max-width: 440px;
 }
 .templatemo-nav li a {
   padding: 15px 20px;
   width: 85px;
 }
 .templatemo-welcome {
   margin-top: 55px;
 }
 .welcome-slider { margin-top: 100px; }
 .welcome-title-1 {
   font-size: 26px;
 }
 .welcome-title-2 {
   font-size: 36px;
 }
 .tm-banner-description { max-width: 400px; }
 .tm-footer-div { margin-bottom: 40px; }
 .copyright-text {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
 }
 .about-slider { max-width: 670px; }
 .about-container,
 .about-container-2 {
    display: inline-block;    
 }
 .about-container-2 {
  padding: 30px;
  max-width: 474px;
  width: 100%;
 }
 .about-container,
 .about-container-left,
 .about-container-right {
  width: 100%;
 }
 .about-container { max-width: 460px; }
 .about-container-right {
  padding: 0 30px 30px;
  margin-top: 30px;
 }
 .about-container-inner {
  margin-bottom: 40px;
 }
 .about-container-inner:last-child {
  margin-bottom: 0;
 }
 .tm-contact-form { margin-top: 20px; }
 .contact-form-left {
  padding-right: 0;
 }
 .contact-form-right {
  padding-left: 0;
  margin-top: 15px; 
 }
 .submit-btn-container { margin-top: 15px; }
 .templatemo-submit-btn { width: 100%; }
 .services-container-inner { margin-bottom: 50px; }
}

@media screen and (max-width: 767px) {
  .templatemo-top-section {
    background-size: cover;
    padding-bottom: 50px;
  }
  .templatemo-header-img {
    max-width: 100%;
  }
  .templatemo-site-name {
    font-size: 26px;
    padding-top: 20px;
  }
  .templatemo-nav { display: none; }
  .templatemo-nav li { float: none; }
  .mobile-menu-icon {
   background-color: rgba(218, 59, 59, 0.6);
   color: white;
   cursor: pointer;
   display: block;
   padding: 10px 15px;
   position: fixed;
   top: 10px;
   right: 10px;
   z-index: 1000;
 }
 .templatemo-nav-container {
    height: auto;
    position: fixed;
    z-index: 1000;
    top: 50px;
    right: 10px;
  }
  .templatemo-nav-container {
   background-color: rgba(0,0,0,0.6);
   margin-top: 0;
   margin-right: 0;
  }
  .templatemo-nav ul {
   text-align: center;
  }
  .templatemo-nav li a {
   display: block;
   padding: 10px 15px;
  }
  .tm-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tm-banner-title { margin: 20px auto; }
  .tm-banner-description { margin: 0 15px 20px 15px; }
  .tm-banner-link { width: 100%; }
  
  .about-page .templatemo-welcome, 
  .contact-page .templatemo-welcome, 
  .services-page .templatemo-welcome { 
    padding-bottom: 0; 
  }

  .about-page .templatemo-welcome {
    margin-top: 110px;
    padding-bottom: 0;
  }
  .about-slider-description {
    width: 100%;
    margin-top: 15px;
  }
  .about-page .welcome-title-2 {
    font-size: 28px;
  }
  .contact-form-container {
    padding: 25px;
  }
  .tm-img-1-container {
    width: 50%;
  }
  .services-title {
    margin-bottom: 15px;
  }
  .services-blocks-container {
    display: block;
  }
  .services-block {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
  }
  .services-container-1 {
    padding: 15px;
  }
}

@media screen and (max-width: 630px) {
  .copyright-text {
    max-width: 100%;
    margin-top: 0;
  }
  .templatemo-site-name {
    padding-top: 12px;
  }
}

@media screen and (max-width: 500px) {
  .templatemo-site-name {
    font-size: 40px;
    padding-top: 80px;
  }
}

